<%- include('../headmetasqualit'); -%>

  <!-- Tab links -->
  <div class="tab">
    <% setors.forEach( value => { %>
      <button id="<%= value.CD_SETOR %>" class="tablinks" onclick="openCity(event, '<%= value.id %>')">
        <%= value.id %>
      </button>
    <% }) %>
    <!-- <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">London</button> -->
  </div>

  <!-- Tab content -->
  <% setors.forEach( value => { %>
    <div id="<%= value.id %>" class="tabcontent">
      <h3><%= value.SETOR %></h3>
      <%- include('includes/table', { setor: value }); -%>
    </div>
  <% }) %>
  <!-- <div id="London" class="tabcontent">
    <h3>London</h3>
    
  </div>

  <div id="Paris" class="tabcontent">
    <h3>Paris</h3>
   
  </div>

  <div id="Tokyo" class="tabcontent">
    <h3>Tokyo</h3>
    
  </div>  -->

<%- include('../footer'); -%>

