<table class="table table-bordered mt-4 fs-6 table-responsive">
  <thead>
    <tr>
      <th scope="col" colspan="2" class="text-center">Metas</th>
      <th scope="col" class="text-center">Constatações</th>
      <th scope="col" class="text-center">Evidências Apresentadas</th>
      <th scope="col" class="text-center">Fontes de Evidências</th>
      <th scope="col" class="text-center">Justificativas</th>
      <th scope="col" class="text-center">Julgamento da comissão</th>
      <th scope="col" class="text-center"></th>
    </tr>
  </thead>
  <tbody>
    <%
      physics_goals.forEach(valuePhys => {
        if(valuePhys.CD_PROCESSO == valueProc.CD_PROCESSO) {
          let thereIsDoc = 0;
          documents.forEach(valueDoc => {
            if(valueDoc.CD_METAS_FISICAS == valuePhys.CD_METAS_FISICAS) {
              thereIsDoc = 1;
            }
          })
    %>
          <tr>
            <th scope="row" class="text-center"><%= valuePhys.DS_NOME %></th>
            <td class="text-center"><%= valuePhys.NR_META %></td>
            <td class="text-center">
              <%= valuePhys.NR_CONSTATACOES %>
            </td>
            <td class="text-center">
              <% if(valuePhys.NR_EVID_APRESENTA == null) { %>
                -
              <% } else { %>
                <%= valuePhys.NR_EVID_APRESENTA %>
              <% } %>
            </td>
            <td class="text-center">
              <%
                if(thereIsDoc == 0) {
              %>
                  -
              <%
                } else {
              %>
                <div class="dropdown">
                  <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Listar arquivos
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <%
                      documents.forEach(valueDoc => {
                        if(valueDoc.CD_METAS_FISICAS == valuePhys.CD_METAS_FISICAS) {
                    %>
                      <li><a class="dropdown-item" target="_blank" href="/<%= valueDoc.DS_DIRETORIO %>"><%= valueDoc.DS_NOME %></a></li>
                    <%
                      }})
                    %>
                  </ul>
                </div>
              <%
                }
              %>
            </td>
            <td class="text-center">
              <% if(valuePhys.DS_JUSTIFIC == null) { %>
                -
              <% } else { %>
                <%= valuePhys.DS_JUSTIFIC %>
              <% } %>
            </td>
            <td>
              <!--Julgamento da comissão-->
              <% if(valuePhys.NR_EVID_APRESENTA == null) { %>
                -
              <% } else { %>
                <%= (valuePhys.NR_CONSTATACOES * (((valuePhys.NR_EVID_APRESENTA * 100) / valuePhys.NR_META) / 100)).toFixed(1) %>
              <% } %>
            </td>
            <td>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="Insert(
                '<%= valuePhys.CD_METAS_FISICAS %>'
                ,'<%= valuePhys.DS_NOME %>'
                ,'<%= valuePhys.NR_META %>'
                ,'<%= valuePhys.NR_CONSTATACOES %>'
                ,'<%= valuePhys.NR_EVID_APRESENTA %>'
                ,'<%= valuePhys.DS_JUSTIFIC %>')"
              >

                Editar
              </button>
            </td>
          </tr>
    <% }}) %>
  </tbody>
</table>

<script>
  function Insert(par01, par02, par03, par04) {
    //alert(par01);
    document.getElementById('evidpres').value = par01;
  }
</script>
