<table class="table table-bordered mt-4">
  <thead>
    <tr>
      <th scope="col" colspan="2" class="text-center">Metas</th>
      <th scope="col" class="text-center">Constatações</th>
      <th scope="col" class="text-center">Evidências Apresentadas</th>
      <th scope="col" class="text-center">Fontes de Evidências</th>
      <th scope="col" class="text-center">Justificativas</th>
      <th scope="col" class="text-center">Julgamento da comissão</th>
      <th scope="col" class="text-center"></th>
    </tr>
  </thead>
  <tbody>
    <%
      physics_goals.forEach(valuePhys => {
        if(valuePhys.CD_PROCESSO == valueProc.CD_PROCESSO) {
    %>
          <tr>
            <th scope="row" class="text-center"><%= valuePhys.DS_NOME %></th>
            <td class="text-center"><%= valuePhys.NR_META %></td>
            <td class="text-center">
              <%= valuePhys.NR_CONSTATACOES %>
            </td>
            <td class="text-center"> <%= valuePhys.NR_EVID_APRESENTA %> </td>
            <td class="text-center">
              <div class="dropdown">
                <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Listar arquivos
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </td>
            <td class="text-center">
              <%= valuePhys.DS_JUSTIFIC %>
            </td>
            <td>
              <!--Julgamento da comissão-->
              <%= (valuePhys.NR_CONSTATACOES * (((valuePhys.NR_EVID_APRESENTA * 100) / valuePhys.NR_META) / 100)).toFixed(1) %>
            </td>
            <td>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="Insert(
                '<%= valuePhys.CD_METAS_FISICAS %>'
                ,'<%= valuePhys.DS_NOME %>'
                ,'<%= valuePhys.NR_META %>'
                ,'<%= valuePhys.NR_CONSTATACOES %>'
                ,'<%= valuePhys.NR_EVID_APRESENTA %>'
                ,'<%= valuePhys.DS_JUSTIFIC %>')"
              >

                Editar
              </button>
            </td>
          </tr>
    <% }}) %>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/fileupload" method="POST" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Evidências Apresentadas</label>
            <input type="number" name="evidpres" class="form-control" id="evidpres">
          </div>
          <div class="mb-3">
            <label for="">Arquivo</label>
            <input class="form-control" type="file" name="physycfile" id="formFileMultiple" multiple>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Justificativas</label>
            <textarea class="form-control" name="justifications" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Upload</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function Insert(par01, par02, par03, par04) {
    //alert(par01);
    document.getElementById('evidpres').value = par01;
  }
</script>
