<%- include('../headmetasfisicas'); -%>

  <!-- Tab links -->
  <div class="tab">
    <% process.forEach( value => { %>
      <button id="<%= value.CD_PROCESSO %>" class="tablinks" onclick="openCity(event, '<%= value.id %>')" >
        <%= value.id %>
      </button>
    <% }) %>
    <!-- <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">London</button> -->
  </div>

  <!-- Tab content -->

  <!-- <div id="E1 - INTERNAÇÕES" class="tabcontent">
    <h3>E1 - INTERNAÇÕES</h3>
  </div> -->

  <% process.forEach( valueProc => { %>
    <div id="<%= valueProc.id %>" class="tabcontent">
      <h3><%= valueProc.DS_NOME %></h3>

      <%- include('includes/table', {valueProc: valueProc}); -%>
    </div>
  <% }) %>

<%- include('../footer'); -%>
