<%- include('../headmetasfisicas'); -%>

  <div class="btn-group mt-4 mb-4" role="group" aria-label="Basic example">
    <input type="date" name="datefisica" class="form-control" id="datefisica">
    <button class="btn btn-danger" onclick="SearchDate()">Buscar</button>
  </div>
  <!-- Tab links -->
  <div class="tab nav nav-pills flex-column flex-sm-row">
    <% process.forEach( valueProc => { %>
      <button id="<%= valueProc.CD_PROCESSO %>" class="tablinks" onclick="openProc(event, '<%= valueProc.id %>')" >
        <%= valueProc.id %>
      </button>
    <% }) %>
  </div>

  <!-- Tab content -->
  <% process.forEach( valueProc => { %>
    <div id="<%= valueProc.id %>" class="tabcontent">
      <h3><%= valueProc.DS_NOME %></h3>

      <%- include('includes/table', {valueProc: valueProc}); -%>
    </div>
  <% }) %>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-name"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="removeChecks()"></button>
      </div>
      <div class="modal-body">

        <!--Formulário de inserção-->
        <form id="formPopup" action="/insertFisicas" method="POST" enctype="multipart/form-data">
          <input type="hidden" id="cd_metas_fisicas" name="cd_metas_fisicas" value="">
          <div class="container">
            <div class="row align-items-start">
              <div class="col-2">
                <div class="mb-3 ml-0">
                  <label for="exampleFormControlInput1" class="form-label">Meta</label>
                  <div id="meta"></div>
                </div>
              </div>
              <div class="col-3">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Consta.</label>
                  <div id="constatacoes"></div>
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Evidências Apresentadas</label>
                  <input type="number" name="evidpres" class="form-control" id="evidpres" onchange="calcJulg(this)" required>
                  <div class="invalid-feedback">
                    Insira a evidência.
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="mb-3">
                  <label for="">Julg. da comissão</label>
                  <input type="number" name="julgcomis" class="form-control" id="julgcomis" readonly>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col" id="col-docs-insert">
              <div class="mb-3">
                <label for="">Fontes de Evidências</label>
                <input class="form-control" type="file" name="physycfile" id="formFileMultiple" multiple required>
                <div class="invalid-feedback">
                  Insira a(s) fonte(s).
                </div>
              </div>
            </div>
            <!-- <div class="col">
              <div class="mb-3">
                <label for="">Julg. da comissão</label>
                <input type="number" name="julgcomis" id="julgcomis" readonly>
              </div>
            </div> -->
          </div>

          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Justificativas</label>
            <textarea class="form-control" name="justifications" id="justific" rows="3" style="resize: none;"></textarea>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-danger">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>

  <!-- PUXANDO OS DOCUMENTOS -->
  <script>
    var docs = [];
  </script>
  <% documents.forEach( valueDoc => { %>
    <script>
      docs.push({
        'CD_METAS_FONTES_FISICAS': '<%= valueDoc.CD_METAS_FONTES_FISICAS  %>',
        'CD_METAS_FISICAS': '<%= valueDoc.CD_METAS_FISICAS %>',
        'CD_FONTES_EVIDENCIAS_FISICAS': '<%= valueDoc.CD_FONTES_EVIDENCIAS_FISICAS %>',
        'CD_DOC': '<%= valueDoc.CD_DOC %>',
        'DS_NOME': '<%= valueDoc.DS_NOME %>',
        'DS_DIRETORIO': '<%= valueDoc.DS_DIRETORIO %>'
      });
    </script>
  <% }) %>

  <script>
    const currentDocs = (id = 0) => {
      let docsFilter = [];

      docs.forEach( value => {
        if(value.CD_METAS_FISICAS == id)
          docsFilter.push(value);
      });

      return docsFilter;
    }

    function Insert(CD_METAS_FISICAS, DS_NOME, NR_META, NR_CONSTATACOES, NR_EVID_APRESENTA, DOCS, DS_JUSTIFIC) {
      document.getElementById('cd_metas_fisicas').value = CD_METAS_FISICAS;
      document.getElementById('modal-name').innerHTML = DS_NOME;
      document.getElementById('meta').innerHTML = NR_META;
      document.getElementById('constatacoes').innerHTML = NR_CONSTATACOES;
      document.getElementById('evidpres').value = NR_EVID_APRESENTA;
      document.getElementById('justific').value = DS_JUSTIFIC;
      document.getElementById('julgcomis').value = (NR_CONSTATACOES * (((NR_EVID_APRESENTA * 100) / NR_META) / 100)).toFixed(1);

      // RECOLHENDO OS DOCUMENTOS ATUAIS
      const docs = currentDocs(CD_METAS_FISICAS);
      // console.log(docs);
      if(docs.length > 0) {
        let docs_insert = document.getElementById("col-docs-insert");

        let divChecksCol = document.createElement('div');
        divChecksCol.classList.add("col-auto");
        divChecksCol.id = "col-docs-checks";

        docs.forEach(value => {
          // div onde estarão o check e a label
          let divCheckUnique = document.createElement('div');
          divCheckUnique.classList.add("form-check");

          // contruir um checkbox
          let checkbox = document.createElement('input');
          checkbox.id = "checkDoc" + value.CD_DOC;
          checkbox.type = 'checkbox';
          checkbox.name = 'docs[]';
          checkbox.value = value.CD_DOC;
          checkbox.classList.add("form-check-input");
          
          // contrução de sua label
          let label = document.createElement('label');
          label.classList.add('form-check-label');
          label.htmlFor = "checkDoc" + value.CD_DOC;
          label.innerText = value.DS_NOME;

          divCheckUnique.append(checkbox, label);
          divChecksCol.appendChild(divCheckUnique);
          
        });
        // console.log(divChecksCol);
        docs_insert.before(divChecksCol);
        
      }

      // let date = sessionStorage.getItem('currentDate');
      // if(date) {
      //   let actForm = document.getElementById("formPopup");
      //   actForm.action = sessionStorage.getItem('formAction') + '/' + date;
      // }

    }

    const removeChecks = () => {
      let colChecks = document.getElementById("col-docs-checks");
      if(colChecks)
        colChecks.parentNode.removeChild(colChecks);
    }

    const calcJulg = ( input ) => {
      let evid_apresenta = input.value;

      let nr_meta = document.getElementById('meta').innerHTML;
      let nr_constatacoes = document.getElementById('constatacoes').innerHTML;

      document.getElementById('julgcomis').value = (nr_constatacoes * (((evid_apresenta * 100) / nr_meta) / 100)).toFixed(1);
    }
  </script>

  <div class="card mt-4">
    Here
  </div>

<%- include('../footer'); -%>

<script>
  
  function SearchDate() {
    var date = document.getElementById('datefisica').value.split("-");

    if(date.length > 1) {
      sessionStorage.setItem('currentDate', date[0] + '-' + date[1]);
      sessionStorage.setItem('formAction', document.getElementById("formPopup").action);
      window.location.href = '/' + date[0] + "-" + date[1];
    }

  }
</script>
